.clipcreate-body {
    width: 100%;
    min-height: 1000px;
    background-color: #0A0B0D;
}

#create_clip_container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

#create_clip_videoUrl {
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;
}


.create-clip-video {
    display: flex;
}

#clipTitle {
    width: 100%;
    height: 41px;
    border-radius: 6px;
    background-color: #19191d;
    font-size: 15px;
    font-family: inherit;
    box-shadow: 0 0 0 #0A0B0D;
    color: #ffff;
    padding: 0px 3px;
}

.create_clip_video>video {
    width: 100%;

    -webkit-appearance: none;
}

.create_clip_video video::-webkit-media-controls {
    display: flex !important;
    opacity: 1 !important;
    width: 100% !important;
}

.create_clip_video video::-webkit-media-controls-play-button,
.create_clip_video video::-webkit-media-controls-start-playback-button,
.create_clip_video video::-webkit-media-controls-mute-button,
.create_clip_video video::-webkit-media-controls-timeline {
    display: flex !important;
}

.create_clip_video video::-webkit-media-controls-timeline,
.create_clip_video video::-webkit-media-controls-current-time-display,
.create_clip_video video::-webkit-media-controls-time-remaining-display,
.create_clip_video video::-webkit-media-controls-volume-slider {
    display: flex !important;
}

.create_clip_video video::-webkit-media-controls-enclosure {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 5px !important;
}

.create_clip_video video::-webkit-media-controls-panel {
    border-radius: 5px !important;
}

.create_clip_video video::-webkit-media-controls-play-button,
.create_clip_video video::-webkit-media-controls-timeline,
.create_clip_video video::-webkit-media-controls-volume-slider {
    margin: 0 8px !important;
}

.create_clip_video video::-webkit-media-controls-mute-button {
    margin-right: 8px !important;
}

.create_clip_video video::-webkit-media-controls-timeline {
    flex-grow: 1 !important;
}

.slider-container {
    display: flex;
    align-items: center;
    height: 100px;
}

.player-container {
    display: flex;
    padding: 3rem 9rem;
    /* width: 83%; */
    height: 500px;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.controls-container {
    width: 600px;
    /* display: flex;    */
}

.edit-clip {
    display: flex;
    align-items: center;
}

.edit-clip>button {
    font-weight: bolder;
}

#create_clip_videoUrl_loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 200px;
}

.loading-spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#create_clip_videoUrl_loading p {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bolder;
    color: #555;
}

.input_title_clip {
    background: #303539;
    border-radius: 3px;
    margin: 20px 0px;
    margin-bottom: 10px;
    padding-left: 7px;
}

.remaining_characters_clip {
    color: #ffffff;
    font-size: 13px;
    font-weight: bolder;
    font-family: 'Montserrat';

}

#loading-progress-bar {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;
}

.progress-bar-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    height: 6px;
    background-color: #ff69c4;
    border-radius: 5px;
    transition: width 0.3s ease;
}

#loading-progress-bar span {
    color: #ffffff;
    font-weight: bolder;
    font-family: "inter";
    padding-left: 10px;
}