.clipcreate-body {
    width: 100%;
    min-height: 1000px;
    background-color: #0A0B0D;
}

#create_clip_container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

#create_clip_videoUrl {
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;
}

.create-clip-video {
    display: flex;
}

#clipTitle {
    width: 100%;
    height: 41px;
    border-radius: 6px;
    background-color: #19191d;
    font-size: 15px;
    font-family: inherit;
    box-shadow: 0 0 0 #0A0B0D;
    color: #ffff;
    padding: 0px 3px;
}

.create_clip_video>video {
    width: 100%;

    -webkit-appearance: none;
}

.create_clip_video video::-webkit-media-controls {
    display: flex !important;
    opacity: 1 !important;
    width: 100% !important;
}

.create_clip_video video::-webkit-media-controls-play-button,
.create_clip_video video::-webkit-media-controls-start-playback-button,
.create_clip_video video::-webkit-media-controls-mute-button,
.create_clip_video video::-webkit-media-controls-timeline {
    display: flex !important;
}

.create_clip_video video::-webkit-media-controls-timeline,
.create_clip_video video::-webkit-media-controls-current-time-display,
.create_clip_video video::-webkit-media-controls-time-remaining-display,
.create_clip_video video::-webkit-media-controls-volume-slider {
    display: flex !important;
}

.create_clip_video video::-webkit-media-controls-enclosure {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 5px !important;
}

.create_clip_video video::-webkit-media-controls-panel {
    border-radius: 5px !important;
}

.create_clip_video video::-webkit-media-controls-play-button,
.create_clip_video video::-webkit-media-controls-timeline,
.create_clip_video video::-webkit-media-controls-volume-slider {
    margin: 0 8px !important;
}

.create_clip_video video::-webkit-media-controls-mute-button {
    margin-right: 8px !important;
}

.create_clip_video video::-webkit-media-controls-timeline {
    flex-grow: 1 !important;
}

.slider-container {
    display: flex;
    align-items: center;
    height: 100px;
}