.clipcreate-body {
    width: 100%;
    min-height: 1000px;
    background-color: #0A0B0D;
}

#create_clip_container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.create_clip_video>video {
    width: 76%;
}

.create_clip_video>video {
    width: 100%;
}

#create_clip_videoUrl {
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;
}

.create-clip-video {
    display: flex;
}