.clipsmain-body {
    width: 100%;
    min-height: 1500px;
    scroll-behavior: smooth;
    margin-top: 6%;
    transition: 5s all;

}

.clipmain-card-main {
    display: flex;
    min-height: 852px;
    transition: 5s all;

}

.clipsmain-container {
    width: 75%;
    height: max-content;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: stretch;
    transition: 5s all;
    scroll-behavior: smooth;
    justify-content: flex-start;
}

.clipsmain-video {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    transition: 5s all;
    flex-direction: column;


}

.clipsmain-video video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 5s all;
}

.clipsmain-top-buttons {
    color: white;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clipsmain-bottom-buttons {
    color: white;
    width: 100%;
    margin: 0 auto;
}

.clipsmain-right-buttons {
    width: 75px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
}