.clipsmain-body {
    width: 100%;
    min-height: 1500px;
    scroll-behavior: smooth;
    transition: 5s all;

}

.clipmain-card-main {
    display: flex;
    height: 930px;
    transition: 5s all;

}

.clipsmain-container {
    width: 75%;
    height: 800px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    transition: 5s all;
    scroll-behavior: smooth;
}

.clipsmain-video {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
    transition: 5s all;

    
}

.clipsmain-video video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 5s all;
}

.clipsmain-top-buttons {
    color: white;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clipsmain-bottom-buttons {
    color: white;
    width: 96%;
    margin: 0 auto;
    position: absolute;
    bottom: -30px;
   
}

.clipsmain-right-buttons {
    width: 75px;
    height: 800px;
    position: fixed;
    right: 0;
    top: 0;
}