.Canalrecomendado:hover{
    cursor: pointer;
    background-color: #323239;
}

.Canalrecomendado:hover::after {
    position: absolute;
    right: -95px;
    background-color: #3b3b44;
    color:white;
    padding: 5px;
    border-radius: 5px;
    z-index: 99999;
    content: attr(data-title); /* Utiliza el valor de la variable */
    /* Otras propiedades CSS para :after si es necesario */
  }