.ChatStreaming {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.MessagesChat {
    display: flex;
    flex-direction: row;
    max-width: 96%;
    max-height: 100%;
    overflow-y: auto;
}

.Message {
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 5px 10px;
}

.content-info-message-2 {

    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-wrap: anywhere;
    word-break: break-all;
    font-weight: 700;
}

.chat-donation-card-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.getDonationSubscriptionCard {
    height: max-content;
    /* position: fixed; */
    width: 98%;
    z-index: 1000000000000000000;
}

.badges {
    display: flex;
    height: 30px;
    /* width: 30px; */
    flex-direction: row;
}

.sas {
    display: flex;
    width: 22px;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
}


#Chats_section {
    display: flex;
    background-color: black;
}

.Chats_section_ChatsTheUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Conversation {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    flex: 1 1;
    max-height: 71%;
    overflow-y: auto;
}

.Conversation::-webkit-scrollbar {
    display: none;
}

.Conversation {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.Conversation:hover {
    scrollbar-color: transparent transparent;
}

.ChatApp {
    width: 200px;
    height: 200px;
}


.ChatStreaming_form {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.ChatStreaming_form>input {
    width: 95%;
    height: 38px;
    border-radius: 5px 0px 0px 5px;
    border: #545658 1px solid;
    background: #171a1f;
    text-align: left;
    padding: 0px 0px 0px 15px;

}

.ChatStreaming_form>button {
    height: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 0px 5px 5px 0px;
    font-size: 16px;
    transition: background-color 0.3s;
}

@media screen and (max-width: 768px) {
    .ChatStreaming {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .channel-chat {
        height: 400px;
        overflow-y: auto;
    }

    .Conversation {
        display: flex;
        width: 100%;
        z-index: 1000;
        align-items: flex-start;
        flex-direction: column;
        flex: 1;
        max-height: 72%;
        overflow-y: auto;
    }

    .ChatStreaming_form {
        display: flex;
        height: auto;
        width: 100%;
        justify-content: center;
        flex-direction: row;
    }

}

.info_chat_extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.actions-chat-conteiner {
    width: 100%;
}

.actions-chat {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.marquee {
    animation: marquee 20s linear infinite;
}

.marquee:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media screen and (max-width: 768px) {



    /* .getDonationSubscriptionCard {
        width: 100%;
    } */
}