.ChatStreaming {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 57px;
    height: 100%;
    width: 100%;
}

.MessagesChat {
    display: flex;
    flex-direction: row;
    max-width: 96%;
    max-height: 100%;
    overflow-y: auto;
}

.Message {
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.content-info-message-2 {

    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
}

.imgs {
    display: flex;
    height: 30px;
    width: 30px;
}

.sas {
    display: flex;
    width: 22px;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
}


#Chats_section {
    display: flex;
    background-color: black;
}

.Chats_section_ChatsTheUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Conversation {
    display: flex;
    width: 100%;
    z-index: 1000;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
    max-height: 72%;
    overflow-y: auto;
}

.ChatApp {
    width: 200px;
    height: 200px;
}


.ChatStreaming_form {
    display: flex;
    width: 100%;
    justify-content: center;

}

.ChatStreaming_form>input {
    /* width: 100%;
    height: 131px; */
}

/* .ChatStreaming_form>button {
    width: 100%;
    height: 131px;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
} */

@media screen and (max-width: 768px) {
    .ChatStreaming {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        /* top: 57px; */
        height: 100%;
        width: 100%;
    }

    .channel-chat {
        height: 400px;
        overflow-y: auto;
    }

    .Conversation {
        display: flex;
        width: 100%;
        z-index: 1000;
        align-items: flex-start;
        flex-direction: column;
        flex: 1;
        max-height: 72%;
        overflow-y: auto;
    }

    .ChatStreaming_form {
        display: flex;
        height: auto;
        width: 100%;
        justify-content: center;
        flex-direction: row;
    }

}