.explorecategories-card-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 10px;
    width: 100%;
}
.filtros:hover{
    cursor: pointer;
    background-color: rgba(243, 97, 150, 0.2);
}