.explorecategories-body {
    padding: 2rem 0rem;
}

.explorecategories-card-container {
    display: flex;
    width: 92%;
    flex-direction: row;
    flex-wrap: wrap;
}

.filtros:hover {
    cursor: pointer;
    background-color: rgba(243, 97, 150, 0.2);
}

.home-categories-card {
    max-width: 30%;
    min-width: 400px;
    padding: 6px;
    background: #303030
}

.explorecategories-body-filtros {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    padding: 2rem 0rem;
    align-items: center;
}