.advertisementShow {
    display: flex;
    font-weight: bolder;
    height: 728px;
}

.update-categorie-container {
    padding: 20px;
    background-color: #121418;
    font-family: 'Arial', sans-serif;
    width: 700px;
}

.advertisementIter {
    border: 1px solid #121418;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #121418;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 700px;

}

.advertisementIter:hover {
    transform: translateY(-5px);
}

.advertisementIter h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

.advertisementIter p {
    font-size: 1em;
    color: #666;
}

.advertisementIter a {
    color: #1a73e8;
    text-decoration: none;
}

.advertisementIter a:hover {
    text-decoration: underline;
}

.advertisementIter video {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 10px;
    height: 300px !important
}

.advertisementIter button {
    background-color: #1a73e8;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.advertisementIter button:hover {
    background-color: #155bb5;
}

.advertisementIter-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #080808;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.advertisementIter-form input,
.advertisementIter-form button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    color: #ffffff;
    border-radius: 4px;
    width: 590px;
}

.advertisementIter-form button {
    background-color: #1a73e8;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.advertisementIter-form button:hover {
    background-color: #155bb5;
}

/* Advertisements.css */

.update-categorie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advertisementIter-form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-bottom: 20px;
}

.advertisementIter-form input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

.advertisementIter-form input::placeholder {
    color: #888;
    /* Color del placeholder */
}

.advertisementIter {
    padding: 10px;
    margin-bottom: 10px;
    width: 700px;
}

.advertisementIter h2 {
    margin: 0 0 10px 0;
}

.advertisementIter p {
    margin: 5px 0;
}

.advertisementIter a {
    color: blue;
    text-decoration: underline;
}

.advertisementIter button {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.search-container-advertisement {
    display: flex;
    margin: 17px;
    position: relative;
    /* top: 69px; */
    left: 20px;
    width: 96%;
}