.MuiDialog-root {
    z-index: 1300 !important;
}


.communities-container {
    background: #080808;
    border-radius: 8px;
    padding: 20px;
    max-width: 800px;
    /* margin: 20px auto; */
    /* box-shadow: 0px 2px 1px -1px rgb(159 71 140), 0px 1px 1px 0px rgb(190 90 191), 0px 1px 3px 0px rgb(152 69 140) !important; */
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 1.5rem !important;
    font-weight: bold !important;
    color: #ffffff !important;
}

.create-button {
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
}

.create-button:hover {
    background-color: #0056b3;
}

.community-card {
    background-color: #30182d6b;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.community-title {
    color: #ffffff;
}

.inputsStyles {
    background-color: #30182d6b !important;
    border-radius: 10px !important;
}

.custom-textfield .MuiFormLabel-root {
    color: #ff69c4 !important;
}

.custom-textfield .MuiOutlinedInput-root {
    border-color: #ff69c4 !important;
}

.custom-textfield .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #ff53da !important;
}

.custom-textfield .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #ff69c4 !important;
}

.custom-textfield .MuiInputLabel-root {
    color: #ff53da !important;
}

.custom-textfield .MuiInputBase-input {
    color: #ff53da !important;
}


.title {
    font-size: 1.5rem !important;
    font-weight: bold !important;
    color: #ffffff !important;
    text-align: center;
}

.communities-list {
    display: flex;
    flex-direction: column;
}

.community-card {
    background-color: #30182d6b;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.community-header {
    display: flex;
    align-items: center;
}

.community-avatar {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.community-title {
    color: #ffffff;
    font-weight: bold;
}

.community-members {
    color: #b0b0b0;
}

.community-members-list {
    margin-top: 10px;
    display: flex;
}

.CommunityInfo {
    background-color: rgb(8 8 8);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}

.Community-Info {
    padding-top: 27px;
    padding-left: 129px;
}

.communities-search {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.muro-post-container-CommunityName {
    color: #ffffff;
    font-weight: bolder;
    padding: 0px 5px;
}

.communitiesRedirect-post {
    padding: 5px;
}