.usersettings-body-dark {
    width: 100%;
    min-height: 150%;
    background-color: #080808;
    color: #ededed;
    padding: 3rem 5rem;
}

.usersettings-body-light {
    width: 100%;
    min-height: 1500px;
    background-color: #f9f9f9;
    color: rgb(0, 0, 0);
}

.usersettings-body-blue {
    width: 100%;
    min-height: 1500px;
    background-color: #192734;
    color: #ededed;
}

.usersettings-navbar {
    width: 95%;
    margin: 0 auto;
    height: 118px;
    z-index: 1000px;
}


.usersettings-set-type {
    width: 100%;
    display: flex;
    font-family: 'Montserrat';
    letter-spacing: 2px;
    padding: 0px;
    margin-top: 10px;
    border-top: 1px solid #2b2b2b8f;
}

.usersettings-title-card {
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 11px;
    color: darkgray;
}

.usersettings-title-card.active {
    color: #ff60b2;
    border-top: 1px solid #ff60b2;
}


.usersettings-settings {
    width: 95%;
    margin: 0 auto;
    color: #ededed;
}

.usersettings-change-avatar {
    width: 100%;
}

.usersettings-card {
    display: flex;
    align-items: center;
    width: 50%;
    height: 150px;
    background-color: #040404;
    border-radius: 5px;
    margin-top: 10px;
}


.button-settings-popup {
    width: 100%;
    padding: 10px;
    background-color: rgb(37, 37, 37);
    color: #ededed;
    font-family: 'Montserrat';
    font-size: 12px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 758px) {
    .usersettings-card {
        width: 100%;
    }
}